sudo: required
services: 
  - docker
before_install:
 - docker build -t muliti-docker -f ./client/Dockerfile.dev ./client
script : 
    - docker run -e CI=true muliti-docker npm run test -- --coverage

after_success:
    - docker build -t multi-client ./client
    - docker build -t multi-nginx ./nginx
    - docker build -t multi-server ./server
    - docker build -t multi-worker ./worker 
    # Log in to the Docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --passwoed-stdin
    # Take those images and push to docker hub
    - docker push multi-client 
    - docker push multi-nginx 
    - docker push multi-server 
    - docker push multi-worker 